{% extends 'base.html.twig' %}

{% block body %}
<div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">{{ job.title }}</h2>
                        <span class="white-text">Ref. {{ job.reference }}</span>
                        <ol class="breadcrumb">
                            <li>
                                <div class="portfolio-nav">
                                    <a href="#!" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                    <a href="#!" class="waves-effect waves-dark"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#!" class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section class="single-project-section section-padding light-gray-bg">
            <div class="container">
                <div class="project-overview">
                    <div class="row mb-80">
                        <div class="col-xs-12 col-md-8">
                            <p class="ref grey-text no-margin">Ref. {{ job.reference }}</p>
                            <h2></h2>
                            <p>{{ job.description }} </p>
                        </div>

                        <div class="col-xs-12 col-md-4 quick-overview">
                            <ul class="portfolio-meta">
                                <li><span> Pulished at </span>{{ job.createdAt.date|date }}</li>
                                <li><span> Position </span>{{ job.title }}</li>
                                <li><span> Contract Type </span>{{ job.type }}</li>
                                <li><span> Salary </span>{{ job.salary }} &euro;</li>
                                <li><span> Location </span>{{ job.location }}</li>
                                <li><span> Starting date </span>{{ job.startingAt.date|date }}</li>
                            </ul>
                        
                         
                            
                           {% if candi == 'false' %}
                            
                            {% if not is_granted('ROLE_USER') %}
                                <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="{{ path('auth_login')  }}">Apply for this job</a>
                            {% endif %}
                            
                             {% if is_granted('ROLE_USER') %}
                                <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="{{ path('addJobsAtUser',{id:job.id}) }}">Apply for this job</a>
                            {% endif %}
                            {% endif %}
                          
                           {% if candi == 'true' %}

                           
                             <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div> 
                            
                            {% endif %}

                        
                        </div>
                    </div>
                </div>

                <nav class="single-post-navigation no-margin" role="navigation">
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="previous-post-link">
                          
                            {% if job.id - 1 > 0 %}
                               <a class="btn border primary waves-effect waves-dark" href="{{ path('jobsShow', {id:job.id - 1})  }}">
                                 <i class="fa fa-long-arrow-left"></i>Previous
                                </a>
                            {% endif %}
                            {% if job.id - 1 == 0 %}
                               
                            {% endif %}
                                   
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-4"></div>


                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="next-post-link">
                            {% if job.id + 1 < jobNum + 1 %}
                              <a class="btn border primary waves-effect waves-dark" href="{{ path('jobsShow', {id:job.id +1})  }}">
                                    Next <i class="fa fa-long-arrow-right"></i>
                                </a>
                            {% endif %}
                            {% if job.id + 1 == jobNum + 1 %}
                               
                            {% endif %}
                                
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </section>

    </div>

</div>
{% endblock %}
